{
  "openapi": "3.1.0",
  "info": {
    "title": "WaitSpin REST API",
    "version": "1.0.0",
    "summary": "Contract for the shipped WaitSpin control API and Stripe webhook.",
    "description": "WaitSpin is an agent-first ad marketplace for developer wait-states. This contract covers the shipped public REST API routes, discovery endpoint, and Stripe webhook endpoint.",
    "license": {
      "name": "Proprietary",
      "url": "https://waitspin.com/waitspin/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.waitspin.com",
      "description": "WaitSpin control API"
    }
  ],
  "security": [],
  "tags": [
    { "name": "Discovery", "description": "API discovery metadata." },
    { "name": "Keys", "description": "Email verification and API-key issuance." },
    { "name": "List", "description": "Opt-in WaitSpin launch email subscription." },
    { "name": "Market", "description": "Public active campaign inventory." },
    { "name": "Campaigns", "description": "Advertiser campaign management." },
    { "name": "Blocks", "description": "Stripe Checkout and crypto MPP rails for prepaid impression blocks." },
    { "name": "User Installs", "description": "User install registration." },
    { "name": "Serve", "description": "Sponsored wait-state message serving." },
    { "name": "Events", "description": "User impression events." },
    { "name": "Wallet", "description": "User wallet, ledger, Connect, and payout operations." },
    { "name": "Webhooks", "description": "Stripe webhook ingestion." }
  ],
  "paths": {
    "/v1": {
      "get": {
        "tags": ["Discovery"],
        "operationId": "getWaitSpinDiscovery",
        "summary": "Read WaitSpin API discovery metadata.",
        "responses": {
          "200": {
            "description": "Discovery metadata.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DiscoveryResponse" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/keys/request": {
      "post": {
        "tags": ["Keys"],
        "operationId": "requestWaitSpinKeyCode",
        "summary": "Request an email verification code.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/KeyRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification code delivery accepted.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/KeyRequestResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/keys/verify": {
      "post": {
        "tags": ["Keys"],
        "operationId": "verifyWaitSpinKeyCode",
        "summary": "Verify an email code and receive a WaitSpin API key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/KeyVerifyRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key issued.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/KeyVerifyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/account/activation": {
      "get": {
        "tags": ["Keys"],
        "operationId": "getWaitSpinAccountActivation",
        "summary": "Read native account activation and destination state.",
        "security": [{ "WaitSpinApiKey": [] }],
        "responses": {
          "200": {
            "description": "Server-derived activation state.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AccountActivationResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/v1/keys/advertiser-capability": {
      "post": {
        "tags": ["Keys"],
        "operationId": "createWaitSpinAdvertiserCapability",
        "summary": "Issue a short-lived native advertiser capability.",
        "security": [{ "WaitSpinApiKey": [] }],
        "responses": {
          "201": {
            "description": "Ephemeral advertiser capability issued.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdvertiserCapabilityResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/v1/keys/current": {
      "delete": {
        "tags": ["Keys"],
        "operationId": "revokeCurrentWaitSpinCredential",
        "summary": "Revoke the current credential and its dependent credentials.",
        "security": [{ "WaitSpinApiKey": [] }],
        "responses": {
          "200": {
            "description": "Credential revoked.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CredentialRevocationResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/analytics/events": {
      "post": {
        "tags": ["Events"],
        "operationId": "ingestWaitSpinAnalyticsEvents",
        "summary": "Accept a bounded privacy-safe analytics batch.",
        "security": [{}, { "WaitSpinApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AnalyticsEventsRequest" } } }
        },
        "responses": {
          "202": {
            "description": "Batch accepted idempotently.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AnalyticsEventsResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/analytics/consent": {
      "get": {
        "tags": ["Events"],
        "operationId": "getWaitSpinAnalyticsConsent",
        "summary": "Read the authenticated account analytics decision without consuming monthly quota.",
        "security": [{ "WaitSpinApiKey": [] }],
        "responses": {
          "200": {
            "description": "Current consent state, including the initial unknown revision.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AnalyticsConsentResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "put": {
        "tags": ["Events"],
        "operationId": "updateWaitSpinAnalyticsConsent",
        "summary": "Compare-and-set the authenticated account analytics decision.",
        "security": [{ "WaitSpinApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AnalyticsConsentRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Current consent state.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AnalyticsConsentResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/v1/publishers/earning-policy": {
      "get": {
        "tags": ["Publishers"],
        "operationId": "getWaitSpinEarningPolicy",
        "summary": "Read the canonical publisher earning, payout, and maturity policy.",
        "security": [{ "WaitSpinApiKey": [] }],
        "responses": {
          "200": {
            "description": "Server-owned earning policy and user-facing copy.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EarningPolicyResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/v1/publisher-installations": {
      "get": {
        "tags": ["User Installs"],
        "operationId": "listWaitSpinPublisherInstallations",
        "summary": "List current device installation generations for rotation recovery.",
        "security": [{ "WaitSpinApiKey": [] }],
        "responses": {
          "200": {
            "description": "Current account- and device-bound installation state.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublisherInstallationListResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/v1/publisher-installations/bootstrap": {
      "post": {
        "tags": ["User Installs"],
        "operationId": "createWaitSpinPublisherBootstrap",
        "summary": "Create one pending target-bound child credential generation.",
        "security": [{ "WaitSpinApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublisherBootstrapRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Direct child credential or editor bootstrap token issued once.",
            "content": { "application/json": { "schema": { "oneOf": [{ "$ref": "#/components/schemas/PublisherDirectBootstrapResponse" }, { "$ref": "#/components/schemas/PublisherEditorBootstrapResponse" }] } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/v1/publisher-installations/bootstrap/redeem": {
      "post": {
        "tags": ["User Installs"],
        "operationId": "redeemWaitSpinPublisherBootstrap",
        "summary": "Redeem or idempotently resume an editor bootstrap token.",
        "description": "Protocol 2 binds a client-generated key and permits same-key replay to recover a lost response without returning the key. Requests without redeem_protocol remain temporary protocol 1 compatibility for released 0.1.14 clients and return a server-generated key once.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublisherBootstrapRedeemRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Protocol 2 returns stable credential metadata for first redeem and same-key replay without api_key; temporary protocol 1 returns the generated key once.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublisherBootstrapRedeemResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/publisher-installations/{install_id}": {
      "delete": {
        "tags": ["User Installs"],
        "operationId": "removeWaitSpinPublisherInstallation",
        "summary": "Deactivate one account- and device-bound installation.",
        "security": [{ "WaitSpinApiKey": [] }],
        "parameters": [{ "$ref": "#/components/parameters/InstallId" }],
        "responses": {
          "200": {
            "description": "Installation removed and child credentials revoked.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublisherInstallationRemovedResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/v1/publisher-installations/{install_id}/ready": {
      "post": {
        "tags": ["User Installs"],
        "operationId": "confirmWaitSpinPublisherInstallationReady",
        "summary": "Confirm the current child generation is registered and ready.",
        "security": [{ "WaitSpinApiKey": [] }],
        "parameters": [{ "$ref": "#/components/parameters/InstallId" }],
        "responses": {
          "200": {
            "description": "Installation generation is ready.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublisherInstallationReadyResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/list/subscribe": {
      "post": {
        "tags": ["List"],
        "operationId": "subscribeWaitSpinList",
        "summary": "Request double opt-in subscription to WaitSpin launch emails.",
        "description": "Creates or refreshes a non-account marketing-list subscriber and sends a confirmation email. This route does not issue API keys; /list/confirm and /list/unsubscribe are browser/email-link routes and are intentionally not API-key routes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ListSubscribeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation email accepted or subscriber already confirmed.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListSubscribeResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/market": {
      "get": {
        "tags": ["Market"],
        "operationId": "listWaitSpinMarket",
        "summary": "Read the active public campaign leaderboard.",
        "responses": {
          "200": {
            "description": "Active public market campaigns.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MarketResponse" }
              }
            }
          },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/campaigns/purchase-options": {
      "get": {
        "tags": ["Campaigns"],
        "operationId": "getWaitSpinPurchaseOptions",
        "summary": "Read the public server-owned purchase-option contract.",
        "responses": {
          "200": {
            "description": "Versioned purchase options and custom bounds.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PurchaseOptionsResponse" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/campaigns": {
      "get": {
        "tags": ["Campaigns"],
        "operationId": "listWaitSpinCampaigns",
        "summary": "List campaigns for the authenticated account.",
        "security": [{ "WaitSpinApiKey": [] }],
        "responses": {
          "200": {
            "description": "Campaign list.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CampaignListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "tags": ["Campaigns"],
        "operationId": "createWaitSpinCampaign",
        "summary": "Create a draft campaign and pending prepaid block purchase.",
        "security": [{ "WaitSpinApiKey": [] }],
        "parameters": [{ "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCampaignRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateCampaignResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/campaigns/{campaign_id}/repeat": {
      "post": {
        "tags": ["Campaigns"],
        "operationId": "repeatWaitSpinCampaign",
        "summary": "Create a distinct campaign from an eligible account-owned source.",
        "security": [{ "WaitSpinApiKey": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/IdempotencyKey" },
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^wcamp_[a-z0-9]{18}$" }
          }
        ],
        "responses": {
          "201": {
            "description": "Repeat campaign and pending purchase created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateCampaignResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/blocks/checkout": {
      "post": {
        "tags": ["Blocks"],
        "operationId": "createWaitSpinCheckout",
        "summary": "Create or reuse a Stripe Checkout URL for a pending campaign.",
        "security": [{ "WaitSpinApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BlockCheckoutRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout URL.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BlockCheckoutResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/blocks/mpp-crypto": {
      "post": {
        "tags": ["Blocks"],
        "operationId": "createWaitSpinMppCryptoBlockPurchase",
        "summary": "Create or reuse a Stripe/Tempo stablecoin MPP challenge for a pending block purchase.",
        "description": "Production Stripe/Tempo stablecoin MPP pay-in rail for existing WaitSpin block purchases. Blocks are activated only after the MPP credential verifies and Stripe reports the bound PaymentIntent as succeeded.",
        "security": [{ "WaitSpinApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BlockMppCryptoRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MPP payment settled in Stripe and WaitSpin blocks were activated.",
            "headers": {
              "Payment-Receipt": {
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BlockMppCryptoReceiptResponse" }
              }
            }
          },
          "202": {
            "description": "MPP credential verified but the Stripe PaymentIntent has not reached succeeded.",
            "headers": {
              "Retry-After": {
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BlockMppCryptoPendingResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/publishers/register": {
      "post": {
        "tags": ["Publishers"],
        "operationId": "registerWaitSpinPublisher",
        "summary": "Register a supported user install target.",
        "security": [{ "WaitSpinApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PublisherRegisterRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User install registered.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PublisherRegisterResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/serve/next": {
      "post": {
        "tags": ["Serve"],
        "operationId": "serveNextWaitSpinMessage",
        "summary": "Return the next sponsored message for a user install.",
        "security": [{ "WaitSpinApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ServeNextRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sponsored message reservation.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServeNextResponse" }
              }
            }
          },
          "204": { "description": "No inventory available." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "$ref": "#/components/responses/ServiceUnavailable" }
        }
      }
    },
    "/v1/events/impression": {
      "post": {
        "tags": ["Events"],
        "operationId": "recordWaitSpinImpression",
        "summary": "Record a billable impression after the visible interval.",
        "security": [{ "WaitSpinApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ImpressionEventRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Impression recorded.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ImpressionEventResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/events/view": {
      "post": {
        "tags": ["Events"],
        "operationId": "recordWaitSpinCreativeView",
        "summary": "Record an idempotent creative view for click analytics.",
        "security": [{ "WaitSpinApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ViewEventRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "View accepted or previously recorded.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ViewEventResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/click/{token}": {
      "get": {
        "tags": ["Events"],
        "operationId": "redirectWaitSpinTrackedClick",
        "summary": "Record the first valid click and redirect to its stored destination.",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the destination captured at serve time.",
            "headers": {
              "Location": {
                "required": true,
                "schema": { "type": "string", "format": "uri" }
              },
              "Cache-Control": {
                "required": true,
                "schema": { "type": "string", "const": "no-store" }
              },
              "Referrer-Policy": {
                "required": true,
                "schema": { "type": "string", "const": "no-referrer" }
              }
            }
          },
          "429": {
            "description": "Redirect lookup throttled before database access.",
            "headers": {
              "Cache-Control": {
                "required": true,
                "schema": { "type": "string", "const": "no-store" }
              },
              "Retry-After": {
                "required": true,
                "schema": { "type": "string", "const": "60" }
              },
              "Referrer-Policy": {
                "required": true,
                "schema": { "type": "string", "const": "no-referrer" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/wallet/status": {
      "get": {
        "tags": ["Wallet"],
        "operationId": "getWaitSpinWalletStatus",
        "summary": "Read user balance, trust state, Connect status, and payout eligibility.",
        "security": [{ "WaitSpinApiKey": [] }],
        "responses": {
          "200": {
            "description": "Wallet status.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WalletStatusResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/v1/wallet/connect": {
      "post": {
        "tags": ["Wallet"],
        "operationId": "createWaitSpinWalletConnectLink",
        "summary": "Create or refresh a Stripe Express onboarding link.",
        "security": [{ "WaitSpinApiKey": [] }],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WalletConnectRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connect onboarding link.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WalletConnectResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/v1/wallet/ledger": {
      "get": {
        "tags": ["Wallet"],
        "operationId": "listWaitSpinWalletLedger",
        "summary": "Read user delivery, reversal, hold, and payout ledger rows.",
        "security": [{ "WaitSpinApiKey": [] }],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "Ledger rows.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WalletLedgerResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/v1/wallet/payouts": {
      "post": {
        "tags": ["Wallet"],
        "operationId": "createWaitSpinWalletPayout",
        "summary": "Preview or execute a guarded idempotent user payout.",
        "security": [{ "WaitSpinApiKey": [] }],
        "parameters": [{ "$ref": "#/components/parameters/OptionalIdempotencyKey" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WalletPayoutRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dry-run payout result.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WalletPayoutResponse" }
              }
            }
          },
          "201": {
            "description": "Payout executed when guarded flags and policy allow it.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WalletPayoutResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/api/waitspin/webhook": {
      "post": {
        "tags": ["Webhooks"],
        "operationId": "receiveWaitSpinStripeWebhook",
        "summary": "Receive Stripe Checkout, refund, dispute, and Connect events.",
        "description": "This endpoint authenticates the raw body with Stripe-Signature and is not called with a WaitSpin API key.",
        "parameters": [
          {
            "name": "Stripe-Signature",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "additionalProperties": true }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook accepted.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OkResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "WaitSpinApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "wts_live"
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "OptionalIdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "InstallId": {
        "name": "install_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 128,
          "pattern": "^wins_[A-Za-z0-9._-]{3,123}$"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed or invalid request.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "Forbidden": {
        "description": "API key lacks the required scope, profile, or trust state.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "NotFound": {
        "description": "Route or resource was not found.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "Conflict": {
        "description": "Idempotency or resource state conflict.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "PaymentRequired": {
        "description": "MPP payment challenge. The WWW-Authenticate header contains the Payment challenge.",
        "headers": {
          "WWW-Authenticate": {
            "schema": { "type": "string" }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded.",
        "headers": {
          "Retry-After": {
            "schema": { "type": "string" }
          }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service capacity is temporarily unavailable.",
        "headers": {
          "Retry-After": {
            "schema": { "type": "string" }
          }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      }
    },
    "schemas": {
      "DiscoveryResponse": {
        "type": "object",
        "required": ["name", "version", "api_base_url", "docs_url", "openapi_url", "routes"],
        "properties": {
          "name": { "type": "string" },
          "version": { "type": "string" },
          "api_base_url": { "type": "string", "format": "uri" },
          "docs_url": { "type": "string", "format": "uri" },
          "openapi_url": { "type": "string", "format": "uri" },
          "routes": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": { "type": "string" }
            }
          },
          "notes": {
            "type": "array",
            "items": { "type": "string" }
          }
        },
        "additionalProperties": false
      },
      "KeyRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email", "maxLength": 320 },
          "intended_use": { "$ref": "#/components/schemas/KeyIntendedUse" },
          "flow_id": { "type": "string", "format": "uuid" }
        },
        "additionalProperties": false
      },
      "KeyVerifyRequest": {
        "type": "object",
        "required": ["email", "code"],
        "properties": {
          "email": { "type": "string", "format": "email", "maxLength": 320 },
          "code": { "type": "string", "pattern": "^[0-9]{6}$" },
          "intended_use": { "$ref": "#/components/schemas/KeyIntendedUse" },
          "challenge_id": { "type": "string", "minLength": 8, "maxLength": 128 },
          "flow_id": { "type": "string", "format": "uuid" },
          "analytics_client_id": { "type": "string", "format": "uuid" },
          "device_registration": { "$ref": "#/components/schemas/DeviceRegistration" },
          "analytics_consent": { "$ref": "#/components/schemas/InitialAnalyticsConsent" }
        },
        "additionalProperties": false
      },
      "KeyIntendedUse": {
        "type": "string",
        "enum": ["key_profile:control", "key_profile:publisher_extension"]
      },
      "KeyRequestResponse": {
        "type": "object",
        "required": ["ok", "challenge_id", "expires_in_seconds", "delivery"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "challenge_id": { "type": "string" },
          "expires_in_seconds": { "type": "integer" },
          "delivery": { "type": "string" }
        },
        "additionalProperties": true
      },
      "KeyVerifyResponse": {
        "type": "object",
        "required": ["account_id", "api_key", "scopes", "trust_level", "key_profile", "credential_id", "protocol_version", "account_state"],
        "properties": {
          "account_id": { "type": "string" },
          "api_key": { "type": "string", "pattern": "^wts_live_" },
          "scopes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Scope" }
          },
          "trust_level": { "type": "string" },
          "key_profile": { "type": "string", "enum": ["control", "publisher_extension"] },
          "credential_id": { "type": "string" },
          "device_id": { "type": "string" },
          "app_instance_id": { "type": "string", "format": "uuid" },
          "protocol_version": { "type": "integer", "const": 1 },
          "account_state": { "type": "string", "enum": ["new", "existing"] },
          "analytics_consent": { "$ref": "#/components/schemas/AnalyticsConsentState" }
        },
        "additionalProperties": true
      },
      "DeviceRegistration": {
        "type": "object",
        "required": ["app_instance_id", "platform", "app_version"],
        "properties": {
          "app_instance_id": { "type": "string", "format": "uuid" },
          "platform": { "type": "string", "const": "macos" },
          "app_version": { "type": "string", "minLength": 1, "maxLength": 64 }
        },
        "additionalProperties": false
      },
      "InitialAnalyticsConsent": {
        "type": "object",
        "required": ["state", "policy_version", "decided_at", "decision_id"],
        "properties": {
          "state": { "type": "string", "enum": ["unknown", "granted", "denied"] },
          "policy_version": { "type": "integer", "minimum": 1 },
          "decided_at": { "type": "string", "format": "date-time" },
          "decision_id": { "type": "string", "format": "uuid" }
        },
        "additionalProperties": false
      },
      "AnalyticsConsentState": {
        "type": "object",
        "required": ["state", "policy_version", "consent_revision", "decision_id"],
        "properties": {
          "state": { "type": "string", "enum": ["unknown", "granted", "denied"] },
          "policy_version": { "type": "integer", "minimum": 1 },
          "consent_revision": { "type": "integer", "minimum": 1 },
          "decision_id": { "type": "string", "format": "uuid" }
        },
        "additionalProperties": false
      },
      "AccountActivationResponse": {
        "type": "object",
        "required": ["contract_version", "has_publisher_activity", "has_advertiser_activity", "has_managed_installations", "has_pending_advertiser_purchase", "connect_state", "recommended_destination"],
        "properties": {
          "contract_version": { "type": "integer", "const": 1 },
          "has_publisher_activity": { "type": "boolean" },
          "has_advertiser_activity": { "type": "boolean" },
          "has_managed_installations": { "type": "boolean" },
          "has_pending_advertiser_purchase": { "type": "boolean" },
          "connect_state": { "type": "string", "enum": ["not_started", "pending", "ready"] },
          "recommended_destination": { "type": "string", "enum": ["intent_choice", "wallet", "campaigns", "campaign_checkout"] }
        },
        "additionalProperties": false
      },
      "AdvertiserCapabilityResponse": {
        "type": "object",
        "required": ["protocol_version", "credential_id", "api_key", "scopes", "audience", "account_id", "device_id", "parent_credential_id", "issued_at", "expires_at"],
        "properties": {
          "protocol_version": { "type": "integer", "const": 1 },
          "credential_id": { "type": "string" },
          "api_key": { "type": "string", "pattern": "^wts_live_" },
          "scopes": {
            "type": "array",
            "prefixItems": [
              { "type": "string", "const": "campaigns:read" },
              { "type": "string", "const": "campaigns:write" },
              { "type": "string", "const": "blocks:purchase" }
            ],
            "minItems": 3,
            "maxItems": 3
          },
          "audience": { "type": "string", "const": "waitspin-macos-advertiser-v1" },
          "account_id": { "type": "string" },
          "device_id": { "type": "string" },
          "parent_credential_id": { "type": "string" },
          "issued_at": { "type": "string", "format": "date-time" },
          "expires_at": { "type": "string", "format": "date-time" }
        },
        "additionalProperties": false
      },
      "CredentialRevocationResponse": {
        "type": "object",
        "required": ["ok", "revoked_credential_id"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "revoked_credential_id": { "type": "string" }
        },
        "additionalProperties": false
      },
      "AnalyticsConsentDecision": {
        "type": "object",
        "required": ["state", "policy_version", "decision_id"],
        "properties": {
          "state": { "type": "string", "const": "granted" },
          "policy_version": { "type": "integer", "const": 1 },
          "decision_id": { "type": "string", "format": "uuid" },
          "consent_revision": { "type": "integer", "minimum": 1 }
        },
        "additionalProperties": false
      },
      "AnalyticsEvent": {
        "type": "object",
        "required": ["event_id", "occurred_at", "schema_version", "source", "name", "properties"],
        "properties": {
          "event_id": { "type": "string", "format": "uuid" },
          "occurred_at": { "type": "string", "format": "date-time" },
          "schema_version": { "type": "integer", "const": 1 },
          "source": { "type": "string", "enum": ["macos", "web"] },
          "name": { "type": "string", "enum": ["onboarding_opened", "otp_started", "first_action_selected", "earning_preview_completed", "install_started", "install_completed", "payout_setup_clicked", "purchase_option_selected", "run_again_clicked"] },
          "properties": { "type": "object" },
          "app_version": { "type": "string", "minLength": 1, "maxLength": 64 },
          "build": { "type": "string", "pattern": "^[A-Za-z0-9._-]{1,64}$" },
          "release_channel": { "type": "string", "enum": ["stable", "beta", "nightly"] },
          "os_major": { "type": "integer", "minimum": 12, "maximum": 99 },
          "arch": { "type": "string", "enum": ["arm64", "x86_64"] },
          "flow_id": { "type": "string", "format": "uuid" }
        },
        "additionalProperties": false
      },
      "AnalyticsEventsRequest": {
        "type": "object",
        "required": ["contract_version", "client_id", "consent", "events"],
        "properties": {
          "contract_version": { "type": "integer", "const": 1 },
          "client_id": { "type": "string", "format": "uuid" },
          "consent": { "$ref": "#/components/schemas/AnalyticsConsentDecision" },
          "events": { "type": "array", "minItems": 1, "maxItems": 25, "items": { "$ref": "#/components/schemas/AnalyticsEvent" } }
        },
        "additionalProperties": false
      },
      "AnalyticsEventsResponse": {
        "type": "object",
        "required": ["accepted", "duplicates"],
        "properties": {
          "accepted": { "type": "integer", "minimum": 0, "maximum": 25 },
          "duplicates": { "type": "integer", "minimum": 0, "maximum": 25 }
        },
        "additionalProperties": false
      },
      "AnalyticsConsentRequest": {
        "type": "object",
        "required": ["state", "policy_version", "decided_at", "decision_id", "expected_revision", "source"],
        "properties": {
          "state": { "type": "string", "enum": ["granted", "denied"] },
          "policy_version": { "type": "integer", "const": 1 },
          "decided_at": { "type": "string", "format": "date-time" },
          "decision_id": { "type": "string", "format": "uuid" },
          "expected_revision": { "type": "integer", "minimum": 0 },
          "source": { "type": "string", "enum": ["macos", "web"] },
          "client_id": { "type": "string", "format": "uuid" }
        },
        "additionalProperties": false
      },
      "AnalyticsConsentResponse": {
        "type": "object",
        "required": ["state", "policy_version", "decision_id", "consent_revision", "source", "account_id"],
        "properties": {
          "state": { "type": "string", "enum": ["unknown", "granted", "denied"] },
          "policy_version": { "type": "integer", "const": 1 },
          "decision_id": { "type": ["string", "null"], "format": "uuid" },
          "consent_revision": { "type": "integer", "minimum": 0 },
          "source": { "type": ["string", "null"], "enum": ["macos", "web", null] },
          "account_id": { "type": "string" }
        },
        "additionalProperties": false
      },
      "EarningPolicyResponse": {
        "type": "object",
        "required": ["contract_version", "sponsored_messages_surface", "connect_required_for_earning", "connect_required_for_payout", "earning_maturity_hours", "trust_min_level", "trust_max_level", "policy_copy"],
        "properties": {
          "contract_version": { "type": "integer", "const": 1 },
          "sponsored_messages_surface": { "type": "string", "const": "supported_developer_tools" },
          "connect_required_for_earning": { "type": "boolean", "const": false },
          "connect_required_for_payout": { "type": "boolean", "const": true },
          "earning_maturity_hours": { "type": "integer", "minimum": 1 },
          "trust_min_level": { "type": "integer", "minimum": 1 },
          "trust_max_level": { "type": "integer", "minimum": 1 },
          "policy_copy": {
            "type": "object",
            "required": ["earning_summary", "connect_summary", "maturity_summary"],
            "properties": {
              "earning_summary": { "type": "string", "minLength": 1 },
              "connect_summary": { "type": "string", "minLength": 1 },
              "maturity_summary": { "type": "string", "minLength": 1 }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "MacosInstallTarget": {
        "type": "string",
        "enum": ["vscode", "cursor", "devin", "claude-code", "mimocode", "opencode", "grok", "antigravity", "copilot", "qoder"]
      },
      "PublisherBootstrapRequest": {
        "type": "object",
        "required": ["operation_id", "install_id", "install_target", "generation"],
        "properties": {
          "operation_id": { "type": "string", "format": "uuid" },
          "install_id": { "type": "string", "minLength": 8, "maxLength": 128, "pattern": "^wins_[A-Za-z0-9._-]{3,123}$" },
          "install_target": { "$ref": "#/components/schemas/MacosInstallTarget" },
          "generation": { "type": "integer", "minimum": 1 }
        },
        "additionalProperties": false
      },
      "PublisherDirectBootstrapResponse": {
        "type": "object",
        "required": ["protocol_version", "credential_mode", "installation_id", "credential_id", "api_key", "scopes", "install_id", "install_target", "publisher_target", "generation"],
        "properties": {
          "protocol_version": { "type": "integer", "const": 1 },
          "credential_mode": { "type": "string", "const": "direct" },
          "installation_id": { "type": "string" },
          "credential_id": { "type": "string" },
          "api_key": { "type": "string", "pattern": "^wts_live_" },
          "scopes": { "type": "array", "items": { "$ref": "#/components/schemas/Scope" }, "minItems": 3, "maxItems": 3 },
          "install_id": { "type": "string", "pattern": "^wins_[A-Za-z0-9._-]{3,123}$" },
          "install_target": { "$ref": "#/components/schemas/MacosInstallTarget" },
          "publisher_target": { "type": "string" },
          "generation": { "type": "integer", "minimum": 1 }
        },
        "additionalProperties": false
      },
      "PublisherEditorBootstrapResponse": {
        "type": "object",
        "required": ["protocol_version", "credential_mode", "installation_id", "install_id", "install_target", "publisher_target", "generation", "token", "expires_at", "api_base", "descriptor_schema_version"],
        "properties": {
          "protocol_version": { "type": "integer", "const": 1 },
          "credential_mode": { "type": "string", "const": "bootstrap" },
          "installation_id": { "type": "string" },
          "install_id": { "type": "string", "pattern": "^wins_[A-Za-z0-9._-]{3,123}$" },
          "install_target": { "type": "string", "enum": ["vscode", "cursor", "devin"] },
          "publisher_target": { "type": "string", "const": "status-bar-fallback" },
          "generation": { "type": "integer", "minimum": 1 },
          "token": { "type": "string", "pattern": "^wbst_" },
          "expires_at": { "type": "string", "format": "date-time" },
          "api_base": { "type": "string", "format": "uri" },
          "descriptor_schema_version": { "type": "integer", "const": 1 }
        },
        "additionalProperties": false
      },
      "PublisherBootstrapRedeemRequest": {
        "oneOf": [
          { "$ref": "#/components/schemas/PublisherBootstrapRedeemV1Request" },
          { "$ref": "#/components/schemas/PublisherBootstrapRedeemV2Request" }
        ]
      },
      "PublisherBootstrapRedeemV1Request": {
        "type": "object",
        "required": ["token", "install_id", "install_target"],
        "properties": {
          "token": { "type": "string", "minLength": 32, "maxLength": 256 },
          "install_id": { "type": "string", "minLength": 8, "maxLength": 128, "pattern": "^wins_[A-Za-z0-9._-]{3,123}$" },
          "install_target": { "type": "string", "enum": ["vscode", "cursor", "devin"] }
        },
        "additionalProperties": false
      },
      "PublisherBootstrapRedeemV2Request": {
        "type": "object",
        "required": ["token", "install_id", "install_target", "redeem_protocol", "api_key"],
        "properties": {
          "token": { "type": "string", "minLength": 32, "maxLength": 256 },
          "install_id": { "type": "string", "minLength": 8, "maxLength": 128, "pattern": "^wins_[A-Za-z0-9._-]{3,123}$" },
          "install_target": { "type": "string", "enum": ["vscode", "cursor", "devin"] },
          "redeem_protocol": { "type": "integer", "const": 2 },
          "api_key": { "type": "string", "pattern": "^wts_live_[A-Za-z0-9_-]{43}$" }
        },
        "additionalProperties": false
      },
      "PublisherBootstrapRedeemResponse": {
        "oneOf": [
          { "$ref": "#/components/schemas/PublisherBootstrapRedeemV1Response" },
          { "$ref": "#/components/schemas/PublisherBootstrapRedeemV2Response" }
        ]
      },
      "PublisherBootstrapRedeemV1Response": {
        "type": "object",
        "required": ["protocol_version", "credential_id", "api_key", "scopes", "device_id", "install_id", "install_target", "publisher_target", "generation"],
        "properties": {
          "protocol_version": { "type": "integer", "const": 1 },
          "credential_id": { "type": "string" },
          "api_key": { "type": "string", "pattern": "^wts_live_" },
          "scopes": { "type": "array", "items": { "$ref": "#/components/schemas/Scope" }, "minItems": 4, "maxItems": 4 },
          "device_id": { "type": "string" },
          "install_id": { "type": "string" },
          "install_target": { "type": "string", "enum": ["vscode", "cursor", "devin"] },
          "publisher_target": { "type": "string", "const": "status-bar-fallback" },
          "generation": { "type": "integer", "minimum": 1 }
        },
        "additionalProperties": false
      },
      "PublisherBootstrapRedeemV2Response": {
        "type": "object",
        "required": ["protocol_version", "credential_id", "scopes", "device_id", "install_id", "install_target", "publisher_target", "generation"],
        "properties": {
          "protocol_version": { "type": "integer", "const": 2 },
          "credential_id": { "type": "string" },
          "scopes": { "type": "array", "items": { "$ref": "#/components/schemas/Scope" }, "minItems": 4, "maxItems": 4 },
          "device_id": { "type": "string" },
          "install_id": { "type": "string" },
          "install_target": { "type": "string", "enum": ["vscode", "cursor", "devin"] },
          "publisher_target": { "type": "string", "const": "status-bar-fallback" },
          "generation": { "type": "integer", "minimum": 1 }
        },
        "additionalProperties": false
      },
      "PublisherInstallationListResponse": {
        "type": "object",
        "required": ["protocol_version", "installations"],
        "properties": {
          "protocol_version": { "type": "integer", "const": 1 },
          "installations": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["install_id", "install_target", "publisher_target", "generation", "status", "confirmation_expires_at", "ready_at", "updated_at"],
              "properties": {
                "install_id": { "type": "string" },
                "install_target": { "$ref": "#/components/schemas/MacosInstallTarget" },
                "publisher_target": { "type": "string" },
                "generation": { "type": "integer", "minimum": 1 },
                "status": { "type": "string", "enum": ["preview_ready", "installed_credential_pending_activation", "ready", "conflict", "repair_required", "uninstalling", "removed", "failed_rollback"] },
                "confirmation_expires_at": { "type": ["string", "null"], "format": "date-time" },
                "ready_at": { "type": ["string", "null"], "format": "date-time" },
                "updated_at": { "type": "string", "format": "date-time" }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "PublisherInstallationReadyResponse": {
        "type": "object",
        "required": ["ok", "status", "id", "install_target", "generation"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "status": { "type": "string", "const": "ready" },
          "id": { "type": "string" },
          "install_target": { "$ref": "#/components/schemas/MacosInstallTarget" },
          "generation": { "type": "integer", "minimum": 1 }
        },
        "additionalProperties": false
      },
      "PublisherInstallationRemovedResponse": {
        "type": "object",
        "required": ["ok", "status"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "status": { "type": "string", "const": "removed" }
        },
        "additionalProperties": false
      },
      "ListSubscribeRequest": {
        "type": "object",
        "required": ["email", "segment"],
        "properties": {
          "email": { "type": "string", "format": "email", "maxLength": 254 },
          "segment": {
            "type": "string",
            "enum": ["publisher", "advertiser"]
          },
          "source": {
            "type": "string",
            "enum": [
              "landing_hero",
              "exit_intent",
              "footer",
              "post_apikey",
              "post_checkout",
              "cli_output",
              "launch_asset",
              "manual_import"
            ]
          },
          "turnstileToken": { "type": "string", "maxLength": 2048 },
          "company": {
            "type": "string",
            "maxLength": 0,
            "description": "Honeypot field; must be omitted or empty."
          }
        },
        "additionalProperties": false
      },
      "ListSubscribeResponse": {
        "type": "object",
        "required": ["ok", "already_subscribed", "expires_in_seconds", "delivery"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "already_subscribed": { "type": "boolean" },
          "expires_in_seconds": { "type": "integer", "minimum": 0 },
          "delivery": { "type": "string", "enum": ["email", "debug"] }
        },
        "additionalProperties": false
      },
      "Scope": {
        "type": "string",
        "enum": [
          "campaigns:write",
          "campaigns:read",
          "blocks:purchase",
          "serve:read",
          "events:write",
          "wallet:read",
          "connect:manage",
          "analytics:read",
          "publishers:write"
        ]
      },
      "MarketResponse": {
        "type": "object",
        "required": ["campaigns"],
        "properties": {
          "campaigns": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MarketCampaign" }
          }
        },
        "additionalProperties": false
      },
      "MarketCampaign": {
        "type": "object",
        "required": ["campaign_id", "ad_line", "brand_name", "bid_cpm_micros", "impressions_served", "status"],
        "properties": {
          "campaign_id": { "type": "string" },
          "ad_line": { "type": "string", "minLength": 3, "maxLength": 60 },
          "brand_name": { "type": ["string", "null"], "maxLength": 80 },
          "bid_cpm_micros": { "type": "integer", "minimum": 0 },
          "impressions_served": { "type": "integer", "minimum": 0 },
          "status": { "type": "string" }
        },
        "additionalProperties": true
      },
      "PurchaseOptionId": {
        "type": "string",
        "enum": ["single", "try_on", "growth", "launch", "custom"]
      },
      "FixedPurchaseOption": {
        "type": "object",
        "required": ["id", "label", "order", "kind", "blocks", "visible_impressions", "price_per_block_cents", "total_cents", "recommended", "available"],
        "properties": {
          "id": { "type": "string", "enum": ["single", "try_on", "growth", "launch"] },
          "label": { "type": "string" },
          "order": { "type": "integer", "minimum": 1 },
          "kind": { "type": "string", "const": "fixed" },
          "blocks": { "type": "integer", "minimum": 1 },
          "visible_impressions": { "type": "integer", "minimum": 1000 },
          "price_per_block_cents": { "type": "integer", "minimum": 100 },
          "total_cents": { "type": "integer", "minimum": 100 },
          "recommended": { "type": "boolean" },
          "available": { "type": "boolean" }
        },
        "additionalProperties": false
      },
      "CustomPurchaseOption": {
        "type": "object",
        "required": ["id", "label", "order", "kind", "recommended", "available", "bounds"],
        "properties": {
          "id": { "type": "string", "const": "custom" },
          "label": { "type": "string", "const": "Custom" },
          "order": { "type": "integer", "const": 5 },
          "kind": { "type": "string", "const": "custom" },
          "recommended": { "type": "boolean", "const": false },
          "available": { "type": "boolean" },
          "bounds": {
            "type": "object",
            "required": ["blocks", "price_per_block_cents"],
            "properties": {
              "blocks": { "$ref": "#/components/schemas/IntegerBounds" },
              "price_per_block_cents": { "$ref": "#/components/schemas/IntegerBounds" }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "IntegerBounds": {
        "type": "object",
        "required": ["min", "max"],
        "properties": {
          "min": { "type": "integer" },
          "max": { "type": "integer" }
        },
        "additionalProperties": false
      },
      "PurchaseOptionsResponse": {
        "type": "object",
        "required": ["version", "currency", "options"],
        "properties": {
          "version": { "type": "integer", "const": 1 },
          "currency": { "type": "string", "const": "eur" },
          "options": {
            "type": "array",
            "minItems": 5,
            "maxItems": 5,
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/FixedPurchaseOption" },
                { "$ref": "#/components/schemas/CustomPurchaseOption" }
              ]
            }
          }
        },
        "additionalProperties": false
      },
      "CreateCampaignRequest": {
        "type": "object",
        "required": ["ad_line", "destination_url"],
        "properties": {
          "ad_line": { "type": "string", "minLength": 3, "maxLength": 60 },
          "destination_url": { "type": "string", "format": "uri", "maxLength": 2048 },
          "brand_name": { "type": "string", "maxLength": 80 },
          "purchase_option_id": { "$ref": "#/components/schemas/PurchaseOptionId" },
          "price_per_block_cents": { "type": "integer", "minimum": 100, "maximum": 100000 },
          "blocks": { "type": "integer", "minimum": 1, "maximum": 10000 }
        },
        "anyOf": [
          {
            "required": ["purchase_option_id"],
            "properties": {
              "purchase_option_id": { "type": "string", "enum": ["single", "try_on", "growth", "launch"] }
            },
            "not": {
              "anyOf": [
                { "required": ["price_per_block_cents"] },
                { "required": ["blocks"] }
              ]
            }
          },
          {
            "required": ["purchase_option_id", "price_per_block_cents", "blocks"],
            "properties": {
              "purchase_option_id": { "type": "string", "const": "custom" }
            }
          }
        ],
        "additionalProperties": false
      },
      "CreateCampaignResponse": {
        "type": "object",
        "required": ["campaign_id", "block_purchase_id", "status", "purchase_option_id", "purchase_option_version", "blocks", "price_per_block_cents"],
        "properties": {
          "campaign_id": { "type": "string" },
          "block_purchase_id": { "type": "string" },
          "status": { "type": "string" },
          "purchase_option_id": { "$ref": "#/components/schemas/PurchaseOptionId" },
          "purchase_option_version": { "type": "integer", "minimum": 1 },
          "blocks": { "type": "integer" },
          "price_per_block_cents": { "type": "integer" }
        },
        "additionalProperties": true
      },
      "CampaignListResponse": {
        "type": "object",
        "required": ["campaigns"],
        "properties": {
          "campaigns": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CampaignListItem" }
          }
        },
        "additionalProperties": false
      },
      "CampaignListItem": {
        "type": "object",
        "required": ["id", "ad_line", "destination_url", "brand_name", "status", "purchase_option_id", "purchase_status", "blocks_purchased", "price_per_block_cents", "units_remaining", "visible_impressions_purchased", "visible_impressions_served", "visible_impressions_remaining", "can_resume_payment", "can_repeat"],
        "properties": {
          "id": { "type": "string" },
          "ad_line": { "type": "string" },
          "destination_url": { "type": "string", "format": "uri" },
          "brand_name": { "type": ["string", "null"] },
          "status": { "type": "string" },
          "purchase_option_id": { "oneOf": [{ "$ref": "#/components/schemas/PurchaseOptionId" }, { "type": "null" }] },
          "purchase_status": { "type": ["string", "null"] },
          "blocks_purchased": { "type": "integer", "minimum": 0 },
          "price_per_block_cents": { "type": "integer", "minimum": 0 },
          "units_remaining": { "type": "integer", "minimum": 0 },
          "visible_impressions_purchased": { "type": "integer", "minimum": 0 },
          "visible_impressions_served": { "type": "integer", "minimum": 0 },
          "visible_impressions_remaining": { "type": "integer", "minimum": 0 },
          "can_resume_payment": { "type": "boolean" },
          "can_repeat": { "type": "boolean" }
        },
        "additionalProperties": false
      },
      "BlockCheckoutRequest": {
        "type": "object",
        "required": ["campaign_id"],
        "properties": {
          "campaign_id": { "type": "string", "pattern": "^wcamp_[a-z0-9]{18}$" }
        },
        "additionalProperties": false
      },
      "BlockCheckoutResponse": {
        "type": "object",
        "required": ["checkout_url", "block_purchase_id"],
        "properties": {
          "checkout_url": { "type": "string", "format": "uri" },
          "block_purchase_id": { "type": "string" }
        },
        "additionalProperties": true
      },
      "BlockMppCryptoRequest": {
        "type": "object",
        "required": ["campaign_id"],
        "properties": {
          "campaign_id": { "type": "string", "pattern": "^wcamp_[a-z0-9]{18}$" },
          "block_purchase_id": { "type": "string", "pattern": "^wblk_[a-z0-9]{18}$" }
        },
        "additionalProperties": false
      },
      "BlockMppCryptoPendingResponse": {
        "type": "object",
        "required": ["ok", "status", "block_purchase_id", "stripe_payment_intent_id", "stripe_status"],
        "properties": {
          "ok": { "type": "boolean", "const": false },
          "status": { "type": "string", "enum": ["payment_pending"] },
          "block_purchase_id": { "type": "string", "pattern": "^wblk_[a-z0-9]{18}$" },
          "stripe_payment_intent_id": { "type": "string", "pattern": "^pi_" },
          "stripe_status": { "type": "string" }
        },
        "additionalProperties": false
      },
      "BlockMppCryptoReceiptResponse": {
        "type": "object",
        "required": ["ok", "status", "block_purchase_id", "campaign_id", "stripe_payment_intent_id", "activated_blocks", "payment_receipt"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "status": { "type": "string", "enum": ["activated"] },
          "block_purchase_id": { "type": "string", "pattern": "^wblk_[a-z0-9]{18}$" },
          "campaign_id": { "type": "string", "pattern": "^wcamp_[a-z0-9]{18}$" },
          "stripe_payment_intent_id": { "type": "string", "pattern": "^pi_" },
          "activated_blocks": { "type": "integer", "minimum": 1 },
          "payment_receipt": { "type": ["string", "null"] },
          "idempotent": { "type": "boolean" }
        },
        "additionalProperties": false
      },
      "PublisherRegisterRequest": {
        "type": "object",
        "required": ["install_id", "target"],
        "properties": {
          "install_id": { "type": "string", "minLength": 8, "maxLength": 128 },
          "target": {
            "type": "string",
            "enum": ["status-bar-fallback", "claude-code", "mimocode", "opencode", "grok", "antigravity", "copilot", "qoder"]
          }
        },
        "additionalProperties": false
      },
      "PublisherRegisterResponse": {
        "type": "object",
        "required": ["publisher_id", "install_id", "target"],
        "properties": {
          "publisher_id": { "type": "string" },
          "install_id": { "type": "string" },
          "target": { "type": "string" }
        },
        "additionalProperties": true
      },
      "ServeNextRequest": {
        "type": "object",
        "required": ["install_id"],
        "properties": {
          "install_id": { "type": "string", "minLength": 8, "maxLength": 128 },
          "slot_id": { "type": "string", "maxLength": 64 },
          "capabilities": {
            "type": "array",
            "maxItems": 4,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": ["view_event_v1", "tracked_click_v1"]
            },
            "description": "Optional measurement capabilities; omission preserves the legacy CPM response."
          }
        },
        "additionalProperties": false
      },
      "ServeNextResponse": {
        "type": "object",
        "required": ["serve_id", "creative", "min_visible_ms", "expires_at", "serve_receipt"],
        "properties": {
          "serve_id": { "type": "string" },
          "creative": { "$ref": "#/components/schemas/Creative" },
          "min_visible_ms": { "type": "integer", "minimum": 5000 },
          "expires_at": { "type": "string", "format": "date-time" },
          "serve_receipt": { "type": "string" }
        },
        "additionalProperties": true
      },
      "Creative": {
        "type": "object",
        "required": ["line", "destination_url", "campaign_id"],
        "properties": {
          "line": { "type": "string" },
          "destination_url": { "type": "string", "format": "uri" },
          "campaign_id": { "type": "string" },
          "click_url": { "type": "string", "format": "uri" }
        },
        "additionalProperties": true
      },
      "ImpressionEventRequest": {
        "type": "object",
        "required": ["serve_id", "serve_receipt", "install_id", "visible_ms"],
        "properties": {
          "serve_id": { "type": "string", "minLength": 8, "maxLength": 64 },
          "serve_receipt": { "type": "string", "minLength": 32, "maxLength": 2048 },
          "install_id": { "type": "string", "minLength": 8, "maxLength": 128 },
          "visible_ms": { "type": "integer", "minimum": 5000 }
        },
        "additionalProperties": false
      },
      "ImpressionEventResponse": {
        "type": "object",
        "required": ["ok", "billed_micro_units"],
        "properties": {
          "ok": { "type": "boolean" },
          "billed_micro_units": { "type": "integer", "minimum": 0 }
        },
        "additionalProperties": true
      },
      "ViewEventRequest": {
        "type": "object",
        "required": ["serve_id", "serve_receipt", "install_id"],
        "properties": {
          "serve_id": { "type": "string", "minLength": 8, "maxLength": 64 },
          "serve_receipt": { "type": "string", "minLength": 32, "maxLength": 2048 },
          "install_id": { "type": "string", "minLength": 8, "maxLength": 128 }
        },
        "additionalProperties": false
      },
      "ViewEventResponse": {
        "type": "object",
        "required": ["ok", "recorded"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "recorded": { "type": "boolean" }
        },
        "additionalProperties": false
      },
      "WalletStatusResponse": {
        "type": "object",
        "required": ["account_id", "balance", "connect", "payout_policy", "payout_hold", "publisher_trust"],
        "properties": {
          "account_id": { "type": "string" },
          "balance": {
            "type": "object",
            "required": [
              "available_micro_units",
              "maturing_micro_units",
              "held_micro_units",
              "reversed_micro_units",
              "reversal_debt_micro_units",
              "paid_micro_units",
              "lifetime_earned_micro_units",
              "pending_payout_micro_units"
            ],
            "properties": {
              "available_micro_units": { "type": "integer", "minimum": 0 },
              "maturing_micro_units": { "type": "integer", "minimum": 0 },
              "held_micro_units": { "type": "integer", "minimum": 0 },
              "reversed_micro_units": { "type": "integer", "minimum": 0 },
              "reversal_debt_micro_units": { "type": "integer", "minimum": 0 },
              "paid_micro_units": { "type": "integer", "minimum": 0 },
              "lifetime_earned_micro_units": { "type": "integer", "minimum": 0 },
              "pending_payout_micro_units": { "type": "integer", "minimum": 0 }
            },
            "additionalProperties": true
          },
          "connect": { "type": "object", "additionalProperties": true },
          "payout_policy": {
            "type": "object",
            "required": [
              "min_payout_cents",
              "cadence_days",
              "currency",
              "earning_maturity_hours",
              "eligible",
              "transfer_cents",
              "next_eligible_at",
              "blocked_reasons"
            ],
            "properties": {
              "min_payout_cents": { "type": "integer", "minimum": 0 },
              "cadence_days": { "type": "integer", "minimum": 0 },
              "currency": { "type": "string" },
              "earning_maturity_hours": { "type": "integer", "minimum": 0 },
              "eligible": { "type": "boolean" },
              "transfer_cents": { "type": "integer", "minimum": 0 },
              "next_eligible_at": {
                "type": ["string", "null"],
                "format": "date-time"
              },
              "blocked_reasons": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "connect_account_missing",
                    "connect_details_not_submitted",
                    "connect_payouts_not_enabled",
                    "payout_cadence_cooldown",
                    "earnings_maturing",
                    "reversal_debt_outstanding",
                    "publisher_quarantined",
                    "risk_score_payout_hold",
                    "risk_score_quarantine",
                    "balance_below_minimum",
                    "stale_pending_payout"
                  ]
                }
              }
            },
            "additionalProperties": true
          },
          "payout_hold": { "type": "object", "additionalProperties": true },
          "publisher_trust": {
            "type": "object",
            "required": [
              "level",
              "base_level",
              "max_level",
              "status",
              "clean_days",
              "normal_cap_share_bps",
              "first_billable_at",
              "next_level_at",
              "reasons",
              "paid_supply_allowed",
              "paid_supply_blocked_reasons"
            ],
            "properties": {
              "level": { "type": "integer", "minimum": 1, "maximum": 10 },
              "base_level": { "type": "integer", "minimum": 1, "maximum": 10 },
              "max_level": { "type": "integer", "enum": [10] },
              "status": {
                "type": "string",
                "enum": ["warming", "max", "downranked", "frozen"]
              },
              "clean_days": { "type": "integer", "minimum": 0 },
              "normal_cap_share_bps": { "type": "integer", "minimum": 0, "maximum": 10000 },
              "first_billable_at": {
                "type": ["string", "null"],
                "format": "date-time"
              },
              "next_level_at": {
                "type": ["string", "null"],
                "format": "date-time"
              },
              "reasons": { "type": "array", "items": { "type": "string" } },
              "paid_supply_allowed": { "type": "boolean" },
              "paid_supply_blocked_reasons": {
                "type": "array",
                "items": { "type": "string" }
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "WalletConnectRequest": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "Two-letter user payout country for new Stripe Express accounts.",
            "enum": ["US", "AU", "AT", "BE", "BG", "CA", "HR", "CY", "CZ", "DK", "EE", "FI", "FR", "DE", "GI", "GR", "HK", "HU", "IE", "IT", "JP", "LV", "LI", "LT", "LU", "MT", "MX", "NL", "NZ", "NO", "PL", "PT", "RO", "SG", "SK", "SI", "ES", "SE", "CH", "TH", "AE", "GB"]
          }
        },
        "additionalProperties": false
      },
      "WalletConnectResponse": {
        "type": "object",
        "required": ["stripe_account_id", "onboarding_url", "payouts_enabled", "details_submitted"],
        "properties": {
          "stripe_account_id": { "type": "string" },
          "country_code": { "type": ["string", "null"] },
          "onboarding_url": { "type": "string", "format": "uri" },
          "payouts_enabled": { "type": "boolean" },
          "details_submitted": { "type": "boolean" }
        },
        "additionalProperties": true
      },
      "WalletLedgerResponse": {
        "type": "object",
        "required": ["entries"],
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "event_type": { "type": "string" },
                "block_purchase_id": { "type": "string" },
                "source_ledger_id": { "type": ["string", "null"] },
                "stripe_event_id": { "type": ["string", "null"] },
                "gross_micro_units": { "type": "integer" },
                "publisher_micro_units": { "type": "integer" },
                "platform_micro_units": { "type": "integer" },
                "earning_matures_at": { "type": "string", "format": "date-time" },
                "earning_matured_at": {
                  "type": ["string", "null"],
                  "format": "date-time"
                },
                "created_at": { "type": "string", "format": "date-time" }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      },
      "WalletPayoutRequest": {
        "type": "object",
        "properties": {
          "dry_run": { "type": "boolean", "default": false },
          "confirm_test_transfer": { "type": "boolean", "default": false }
        },
        "additionalProperties": false
      },
      "WalletPayoutResponse": {
        "type": "object",
        "required": ["ok", "dry_run", "amount_micro_units", "amount_cents", "currency", "eligible", "blocked_reasons"],
        "properties": {
          "ok": { "type": "boolean" },
          "dry_run": { "type": "boolean" },
          "amount_micro_units": { "type": "integer", "minimum": 0 },
          "amount_cents": { "type": "integer", "minimum": 0 },
          "currency": { "type": "string" },
          "eligible": { "type": "boolean" },
          "blocked_reasons": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "connect_account_missing",
                "connect_details_not_submitted",
                "connect_payouts_not_enabled",
                "payout_cadence_cooldown",
                "earnings_maturing",
                "reversal_debt_outstanding",
                "publisher_quarantined",
                "risk_score_payout_hold",
                "risk_score_quarantine",
                "balance_below_minimum",
                "stale_pending_payout"
              ]
            }
          },
          "min_payout_cents": { "type": "integer", "minimum": 0 },
          "cadence_days": { "type": "integer", "minimum": 0 },
          "earning_maturity_hours": { "type": "integer", "minimum": 0 },
          "next_eligible_at": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "payouts_enabled": { "type": "boolean" },
          "details_submitted": { "type": "boolean" }
        },
        "additionalProperties": true
      },
      "OkResponse": {
        "type": "object",
        "required": ["ok"],
        "properties": {
          "ok": { "type": "boolean", "const": true }
        },
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error", "code"],
        "properties": {
          "error": { "type": "string" },
          "code": { "type": "string" }
        },
        "additionalProperties": true
      }
    }
  }
}
